/* 
* Sizing
*/
$base-space: 8px;
$space-4: 0.5 * $base-space;
$space-16: 2 * $base-space;
$mobile-width: 600px;
$border-radius-size: $space-4;
$border-width: 0.25 * $base-space;

/* 
* Styling
*/
$primary-color: #172893;
$secondary-color: #3399FF;
$default-color: #F4F4F4;
$default-text-color: #383C44;
$white: #FFFFFF;
$box-shadow: rgba(0, 0, 0, 0.06) 0px $space-4 1.5 * $base-space;